# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://***
STRIPE_SECRET_KEY=sk_test_***
STRIPE_WEBHOOK_SECRET=whsec_***
BASE_URL=http://localhost:3000
AUTH_SECRET=***

NEXT_PUBLIC_POSTHOG_KEY=phc_MlfVCdpKPSh1tz6v5CXmqCuws4OHFRCOEm0vtrcgTJm
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com